* {
    margin: 0;
    padding: 0;
}
.content { margin-top: 35px; }
.content > div { padding: 25px 0 0 150px; }
.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.header-left li { margin-bottom: 15px; }
.header-right { display: flex; }
.header-right > p:first-child { margin-right: 20px; }
.LK { display: flex; }
.leftLK { width: 15%; }
.leftLK li { margin-bottom: 20px; }
.rightLK {
    width: 70%;
    border-left: 3px double black;
    padding-left: 100px;
}
.headerLK {
    text-align: center;
    margin-bottom: 35px;
}
.recordLK {
    display: flex;
    margin-bottom: 20px;
}
.recordLK p {
    width: 100px;
    padding: 5px;
}
.ordersRecord {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

}
.ordersRecord {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    border-bottom: 4px;
}
.ordersRecord img {
    width: 90px;
    height: 70px;
}
.ordersRecord p { font-size: 10pt; }
.ordersRecord a { font-size: 10pt; }
.ordersRecord select { width: 180px; }