* {
    margin: 0;
    padding: 0;
}
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.entrance {
    width: 200px;
    margin-left: 200px;
    background-color: hsl(60, 100%, 80%);
    padding: 20px 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    transition-duration: 1500ms;
}
.entrance a:first-child { font-size: 18pt; }
.entrance a:last-child { font-size: 10pt; }
.credentials { 
    background-color: hsl(60, 100%, 80%);
    width: 230px;
    padding: 15px 0px 25px 35px;
    border-radius: 20px;
    opacity: 0;
    transition-duration: 1500ms;
 }
 .credentials p {
     margin: 10px 0px;
 }
 .credentials input:last-child {
     margin-top: 10px;
 }
 .registerForm {
     margin-left: 30px;
     margin-top: 20px;
 }
 .field_reg {
     display: flex;
     margin: 15px 0 20px 25px;
 }
 .field_reg p { width: 90px; }