* {
    margin: 0;
    padding: 0;
}
.content {
    margin: 0 auto;
    padding-top: 35px;
    width: 1200px;
}
.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.header-left li { margin-bottom: 15px; }
.header-right { display: flex; }
.header-right > p:first-child { margin-right: 20px; }

.dataCtlg {
    margin: 0 auto;    
    display: flex;
    flex-wrap: wrap;
}
.product {
    margin-right: 25px;
    margin-bottom: 25px;
}
.product img {
    width: 500px;
    height: 450px;
}
.product p {
    padding-bottom: 15px;
    padding-left: 25px;
}
.productSingle {
    display: flex;
}
.productSingle-left img {
    height: 600px;
    width: 700px;
}
.productSingle-right {
    padding-top: 30px;
    padding-left: 40px;
}
.productSingle-right p {
    font-size: 24pt;
    padding: 30px 0;
}
.productSingle-right p:first-child {
    font-size: 30pt;
    font-weight: 600;
}
.productSingle-right a {
    font-size: 26pt;
    text-align: center;
    display: block;
}